@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Buyan";
  src: url("../fonts/BuyanRegular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.fadeOut {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
